extends layout
block content
    .row
      .holder
        h1 Hi I am product page!
        .grid-container
          each row in res1
            .item
              h1.itemtitle #{row.Name}
              img.pimage(src="#{row.Image}", alt="#{row.Image}")
              p.itemp &euro;#{row.Price}
              p.itemp Activity: #{row.Activity}